.modal-wrapper {
    background-color: rgba($gray-600, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    &.hide {
        display: none;
    }

    &.login-modal-js .modal {

        @include mq(md) {
            max-width: 355px;
        }
    }

    .modal {
        width: calc(100% - 20px);
        margin: 10px;
        background-color: $gray-700;
        border-radius: 25px;
        position: relative;
        padding: 25px 30px;

        &-close {
            border: none;
            background-image: url(../img/close-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $gray-600;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &-title {
            margin-bottom: 25px;
            display: flex;
            align-items: center;

            &-icon {
                width: 45px;
                height: 45px;
                border-radius: 15px;
                background-color: $primary-orange;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &-server-answer {
            text-align: center;
        }
    }
}