@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}