form {

    .field-wrapper {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;

        &.valid {

            .field-validation-status-ok {
                display: block;
            }

            input {
                border-color: $primary-green;
            }
        }

        &.invalid {

            input {
                border-color: $primary-orange;
                color: $primary-orange;
            }
        }

        &:not(.valid,.invalid) input {

            &:hover {
                border-color: $gray-500;
            }

            &:focus {
                border-color: $primary-yellow;
            }
        }

        .field-validation-status-ok {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/check-green-icon.svg);
            display: none;
        }

        .field-validation-message {
            order: 1;
        }
    }

    input:not(.btn) {
        padding: 16px;
        display: block;
        width: 100%;
        border-radius: 70px;
        transition: color $transition, border-color $transition;
        border: 2px solid $gray-600;
        outline: none;
        color: $gray-300;
        background-color: transparent;

        &::placeholder {
            color: $gray-500;
        }
    }

    input[type="submit"] {
        margin: 0 auto;
        border: none;
    }

    .submit-field-wrapper {
        text-align: center;
    }

    .password-field {
        position: relative;

        .show-toggle {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 16px;
            top: 12px;
            background-image: url(../img/eye-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
}