h1, h2 {
    font-family: $gilroy-bold-font;
}

h1 {
    font-size: 25px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 25px;

    @include mq(xl) {
        font-size: 40px;
        line-height: 48px;
    }
}

h2 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 24px;

    @include mq(xl) {
        font-size: 32px;
        line-height: 40px;
    }
}

h3 {
    font-size: 20px;
    margin: 0 0 20px;

    @include mq(xl) {
        font-size: 24px;
    }
}
